:root {
  --primary: #0F1117;
  --primary_accent: #3B82F6;
  --secondary: #0b0c10;
  --panels: #1A1D26;
  --green_accent: #3DFF8E;
  --red_accent: #FF3221BA;
}

* {
  color: white;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--secondary);
  overflow: hidden;
}
