:root {
  --primary: #0F1117;
  --primary_accent: #3B82F6;
  --secondary: #0b0c10;
  --panels: #1A1D26;
  --panels_secondary: #2a2e3a;
  --green_accent: #3DFF8E;
  --orange_accent: #ff891a;
  --red_accent: #FF3221BA;
}

* {
  color: white;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--secondary);
  overflow: hidden;
}

.hide {
  display: none;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list_node {
  min-height: 50px;
  max-height: 50px;
  width: 100%;

  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  transition: all 0.3s ease-in-out;
}

.list_node:hover {
  background-color: #303f59;
  border-radius: 5px;
  cursor: pointer;
}

.list_node_img {
  background-color: var(--secondary);
  width: 50px;
  aspect-ratio: 1/1;

  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
}

.list_node_name {
  position: relative;
  right: 80px;
  grid-area: 1 / 2 / 2 / 3;
  line-height: 30px;
  font-size: 14px;
}

.list_node_info {
  position: relative;
  right: 80px;
  grid-area: 2 / 2 / 3 / 3;
  line-height: 25px;
  font-size: 12px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  overflow: scroll;
}

.list_channel_settings {

}

.list_channel_section:hover {
  cursor: pointer;
}

.list_channel {
  background-color: var(--primary);
  border-radius: 5px;
  height: 20px;
  width: fit-content;
  padding: 0 5px 0 5px;
  overflow: scroll;
  margin-left: 10px;
  transition: all ease 0.3s;
}

.list_channel:hover {
  cursor: pointer;
  background-color: var(--primary_accent);
}

.user_message {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  width: fit-content;
  white-space: pre-wrap;
}

.shortened_msg {
  padding: 0;
  margin: 0 0 0 45px;
  display: flex;
  flex-direction: row;
}

.user_message_img {
  background-color: var(--secondary);
  width: 40px;
  aspect-ratio: 1/1;

  border-radius: 50%;

  grid-column: 1;
  grid-row: 1 / span 2;
  margin-right: 5px;
}

.user_message_name {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.user_message_content {
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
}

.shortened_msg_time {
  opacity: 0;
  font-size: 14px;
  margin-left: 5px;
}

.user_message_content:hover + .shortened_msg_time {
  opacity: 50%;
}

.user_message_time {
  padding-left: 10px;
  opacity: 50%;
}

.account_form_input {
  height: 40px;
  background-color: var(--panels);
  border-radius: 10px;
  border: 2px solid var(--panels_secondary);
  outline: 0 solid var(--primary_accent);
  transition: all ease-in-out 0.2s;
}

#account_panel_login {
  width: 50%;
  height: 100%;
  background: var(--panels_secondary);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#account_panel_login > h2 {
  text-align: center;
}

#account_panel_login > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account_form_input:focus {
  outline: 2px solid var(--primary_accent);
}

#account_form_submit {
  height: 40px;
  background-color: var(--panels);
  border-radius: 10px;
  border: none;
  transition: all ease-in-out 0.2s;
  outline: 0 solid var(--primary_accent);
  font-size: 18px;
}

.account_form_submit:hover {
  outline: 2px solid var(--primary_accent);
}

.account_create_button {
  height: 40px;
  line-height: 40px;
  width: 140px;
  text-align: center;
  background-color: var(--panels);
  margin: 10px auto 0 auto;
  border-radius: 10px;
  outline: 0 solid var(--primary_accent);
}

.account_create_button:hover {
  outline: 2px solid var(--primary_accent);
}

#error_message_panel {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  min-width: 150px;
  line-height: 50px;
  text-align: center;
  padding: 10px;
  background-color: var(--red_accent);
  border-radius: 15px;
  z-index: 5;
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

#user_list {
  position: relative;
  top: 40px;
  height: calc(100% - 40px);
  list-style: none;
  padding: 0;
  margin: 0;
}
